.playlist {
    height: calc(100vh - 90px);
    background-color: #ccc;
    position: relative;
    width: 330px;
    bottom: 0;
    top: 0;
    height: calc(100vh - 90px);
    background-color: #ccc;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
