.search,
.search-result {
    width: 400px;
}

.search {
    position: relative;
    display: flex;
    height: var(--search-height);
    padding-left: 16px;
    background-color: var(--header-bg-inner-color);
    border-radius: var(--search-border-radius);
    input {
        height: 100%;
        flex: 1;
        font-size: 1.5rem;
        outline: none;
        border: none;
        color: var(--text-search-color);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--text-search-color);
        opacity: 0.8;
    }
}

.search-title {
    padding: 8px 10px;
}

.search-result {
}

.suggest-list {
    padding: 8px 10px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-search-color);
}

.loading {
    animation: spinner 0.8s linear infinite; /* Tạo hiệu ứng quay */
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0); /* Bắt đầu từ góc 0 */
    }
    to {
        transform: translateY(-50%) rotate(360deg); /* Quay 360 độ */
    }
}

.clear {
}

/*search button*/

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    color: var(--text-search-color);
    opacity: 0.8;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}
