.lyrics {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url('~/src/components/assets/images/bground1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    transition: opacity 0.5 ease, transform 0.5 ease;
    animation-fill-mode: forwards;
    &.show {
        animation: moveUp 0.5s ease-out;
    }

    &.hide {
        animation: moveDown 0.5s ease-out;
    }
}

.lyrics::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.lyrics > * {
    position: relative;
    z-index: 2;
}

//Lyrics Header
.lyrics-header {
    width: 100%;
    height: var(--sidebar-logo-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
        font-size: 4.5rem;
    }
}

//Tabs
.tabs {
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: var(--alpha-color);
}

.tab-item {
    font-size: 1.6rem;
    padding: 0 50px;
    line-height: 1;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.5);

    &.active {
        color: var(--text-white);
        padding: 7px 50px;
        border-radius: 999px;
        background-color: var(--alpha-color);
    }
}

//Action Item

.action-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-btn {
    padding: 10px;
    background-color: var(--alpha-color);
    line-height: 0;
    color: var(--text-white);
    border-radius: 999px;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }
}

.action-icon {
    font-size: 1.8rem;
}

//Lyrics-body

.lyrics-body {
    display: flex;
    height: calc(100% - 90px);
    width: 100%;
}

.body-left,
.body-right {
    display: flex;
}

.body-left {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .body-info {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.2;
        margin-top: 20px;
    }
}

.body-image {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.body-right {
    flex: 1.5;
    width: 100%;

    .body-item {
        overflow-y: overlay;
        width: 100%;
    }

    .item {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.2;
        padding: 15px 0;
    }
}

.is-over {
    color: #ffffff90;
}

.is-active {
    color: #ffed00;
}

@keyframes moveUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}
