.media {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-white);
}

.small {
    width: 40px;
    height: 40px;
}

.medium {
    width: 50px;
    height: 50px;
}

.large {
    width: 64px;
    height: 64px;
}

//Media Left

.media-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .image {
        border-radius: 4px;
    }
}

//Media Content

.media-content {
    margin-right: 20px;
    .song-name {
        display: block;
        font-size: 1.6rem;
    }

    .artist-name {
        color: #ffffff80;
        font-size: 1.4rem;
    }
}

//Media right

.media-right {
    margin-left: auto;
    .media-item {
        width: 16px;
        height: 16px;
        padding: 8px;
        margin: 0 2px;

        &:hover {
            border-radius: 50%;
            background-color: var(--alpha-color);
        }
    }
}

//Media-song

.media-song {
    padding: 8px 10px;

    &:hover {
        border-radius: 4px;
        background-color: var(--alpha-color);
    }
}
