.media {
    display: flex;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}

.song {
    padding: 8px 10px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }

    &:hover .media-right {
        display: flex;
    }

    &:hover .media-image {
        opacity: 0.5;
    }
}

/*Media Left*/
.media-left {
    margin-right: 10px;
}

.media-image {
    position: relative;
    display: flex;
    align-items: center;
    height: 52px;
    width: 52px;
    overflow: hidden;
    border-radius: 4px;
}

/*Media Content*/
.media-content {
    display: flex;
    flex: 1;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.song-name {
    font-size: 1.6rem;
}

.artist-name {
    font-size: 1.4rem;
    opacity: 0.8;
}

/*Media right*/

.media-right {
    display: none;
    align-items: center;
    justify-items: left;
}

.media-play {
    position: absolute;
    font-size: 2rem;
    left: calc(((52px / 2) + 20px) - 7.5px);
}

.media-right .icon-heart,
.media-right .icon-options {
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 999px;

    &:hover {
        cursor: pointer;
        background-color: var(--header-bg-inner-color);
    }
}
