.wrapper {
    position: fixed;
    z-index: 1;
    width: var(--sidebar-width);
    height: 600px;
    color: var(--text-white);
    background-color: var(--primary-bg);
}

.logo {
    height: var(--sidebar-logo-height);
    display: flex;
    align-items: center;
    padding: 0 25px 0 25px;

    &:hover {
        cursor: pointer;
    }
}

.logo-icon {
    font-size: 3rem;
    display: inline-block;
    padding: 10px;
}

.logo-title {
    display: inline-block;
    font-size: 3.5rem;
}
