.options {
    display: flex;
}

.option-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    padding: 8px;
    margin: 0 2px;
    opacity: 0.7;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.option-icon {
    font-size: 1.6rem;
    width: 1.6rem; /* Đặt chiều rộng cố định để các icon không đẩy nhau */
    text-align: center; /* Căn giữa icon trong khung */
}

.option-volumn {
    display: flex;
    align-items: center;
}

.volumn {
    width: 90px;
    height: 6px;
    // appearance: none;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}

.volumn::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.tippy-btn {
    background-color: #ccc;
}
